<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Error || modulo de proveedores</title>
    <!-- ========== BOOTSTRAP CSS ========== -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- ========== BOOTSTRAP ICONS ========== -->
    <link rel="stylesheet" th:href="@{/icons/font/bootstrap-icons.css}">
    <!-- ========== BOOTSTRAP JAVASCRIPT ========== -->
    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>

<body>
    <div class="constainer text-center">
        <h2 class="mt-5">La información del proveedor solicitada no existe</h2>
        <a class="btn btn-primary" th:href="@{/providers/table}">Volver a atras</a>
    </div>
    <!-- ========== MY SCRIPT ========== -->
    <script th:src="@{/js/welcome.js}"></script>

</body>

</html>