<!DOCTYPE html>
<!--

    Jhonatan Samuel Martinez Hernandez 
    Ficha 2675859
    Análisis y Desarrollo De Software
    Aprendiz SENA
    Año 2024
-->

<html>

<head>
    <title>Productos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ========== BOOTSTRAP CSS ========== -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- ========== BOOTSTRAP JAVASCRIPT ========== -->
    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>

<body>
    <div class="container">
        <h1>Modificar Producto</h1>
        <div class="col-md-10 col-lg-6">
            <div class="card">
                <div class="card-body">

                    <!-- ======================= formulario para crear o modificar un producto ======================= -->
                    <!-- in the "action" attribute field I make a Post request to "products/save" endpoint so the data will be save in the data base -->
                    <form class="form-group" th:action="@{'/products/' + ${id} + '/edit'}" method="post" th:object="${product}">
                        <!-- ================ identificación producto ================ -->
                        <div class="mb-3">
                            <label for="product_id">Id</label>
                            <input th:field="*{id}" id="product_id" type="text" class="form-control" disabled>
                        </div>
                        <!-- ================ nombre producto ================ -->
                        <div class="mb-3">
                            <label for="product_name">Nombre</label>
                            <input th:field="*{name}" id="product_name" type="text" class="form-control" required>
                        </div>
                        <!-- ================ Modelo  ================ -->
                        <div class="mb-3">
                            <label for="product_model">Modelo</label>
                            <input th:field="*{model}" id="product_model_name" type="text" class="form-control"
                                required>
                        </div>
                        <!-- ================ precio de compra ================ -->
                        <div class="mb-3">
                            <label for="product_purchase_price">Precio compra</label>
                            <input th:field="*{sale_price}" id="product_purchase_price" type="number"
                                class="form-control" required>
                        </div>
                        <!-- ================ precio de compra ================ -->
                        <div class="mb-3">
                            <label for="product_sale_price">Precio venta</label>
                            <input th:field="*{purchase_price}" id="product_sale_price" type="number"
                                class="form-control" required>
                        </div>
                        <!-- ================ disponibilidad producto ================ -->
                        <div class="mb-3">
                            <label for="product_stock">Disponibilidad</label>
                            <input th:field="*{stock}" id="product_name" type="number" class="form-control" required>
                        </div>
                        <!-- ================ descripcion producto ================ -->
                        <div class="mb-3">
                            <label for="product_description">Descripción</label>
                            <textarea th:field="*{description}" id="product_description" type="text"
                                class="form-control"></textarea>
                        </div>

                        <!-- ================ Action buttons section ================ -->
                        <div class="justify-content-center">
                            <button class="btn btn-secondary" type="submit">continuar</button>
                            <a class="btn btn-primary">cancelar</a>

                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</body>
<!--

    Jhonatan Samuel Martinez Hernandez 
    Ficha 2675859
    Análisis y Desarrollo De Software
    Aprendiz SENA
    Año 2024
-->

</html>