<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--

    Jhonatan Samuel Martinez Hernandez 
    Ficha 2675859
    Análisis y Desarrollo De Software
    Aprendiz SENA
    Año 2024
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ========== BOOTSTRAP CSS ========== -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- ========== BOOTSTRAP ICONS ========== -->
    <link rel="stylesheet" th:href="@{/icons/font/bootstrap-icons.css}">
    <!-- ========== BOOTSTRAP JAVASCRIPT ========== -->
    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
    <!-- =================== back button inside a navigation bar =================== -->
    <nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">

            <a class="navbar-brand" th:href="@{/products/list}">
                <i class="bi bi-arrow-left" style="font-weight: 400;"></i>
            </a>


        </div>
    </nav>
    <!-- =================== back button inside a navigation bar =================== -->

    <div class="container">
        <div class="mt-3">
            <div class="card offset-md-3 col-sm-12 col-md-10 col-lg-6">
                <div class="card-dialog">
                    <div class="card-content">
                        <div class="card-header">
                            <h1>Detalles del producto</h1>

                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <!-- ===================== Action button container ===================== -->
                                <div class="my-3">
                                    <!-- ==== editar ==== -->
                                    <button type="button" class="btn btn-warning" data-bs-target="#modify_product"
                                        data-bs-toggle="modal">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <!-- ==== borrar ==== -->
                                    <button type="button" class="btn btn-danger" data-bs-target="#delete_product"
                                        data-bs-toggle="modal">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                                <!-- nombre producto -->
                                <p>Id: <span th:text="${product.id}"></span></p>
                                <p>Nombre: <span th:text="${product.name}"></span></p>
                                <!-- product model -->
                                <p>Modelo: <span th:text="${product.model}"></span></p>
                                <!-- product purchase price -->
                                <p>Precio compra: <span th:text="${product.purchase_price}"></span></p>
                                <!-- product sales price -->
                                <p>Precio venta: <span th:text="${product.sale_price}"></span></p>
                                <!-- product stock -->
                                <p>Disponibilidad: <span th:text="${product.stock}"></span></p>
                                <!-- product description -->
                                <p>Descripción: <span th:text="${product.description}"></span></p>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- =========================== delete product modal view =========================== -->
    <div class="modal fade " id="delete_product" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <h5 class="modal-title mb-2 text-center">¿ Esta seguro de querer eliminar el producto ? </h5>
                    <!-- info del producto -->
                    <div th:text="'Nombre: ' + ${product.name}"></div>
                    <div th:text="'Modelo: ' + ${product.model}"></div>
                    <div th:text="'Precio compra: ' + ${product.purchase_price}"></div>
                    <div th:text="'Precio venta: ' + ${product.sale_price}"></div>
                </div>
                <div class="modal-footer justify-content-center">

                    <!-- use a button inside a form to pass product ID and triger delete method in the back-end -->
                    <form class="col-4" th:action="@{ '/products/' + ${product.id} + '/delete'}" method="get">
                        <button type="submit" class="btn btn-secondary col-12">si</button>
                    </form>
                    <!-- just a button to close the modal that confirms delete action -->
                    <button type="button" class="btn btn-primary col-4" data-bs-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
    <!-- =========================== delete product modal view =========================== -->
    <div class="modal fade " id="modify_product" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <h5 class="modal-title mb-2 text-center">¿ Desea modificar la información actual del producto ?
                    </h5>
                    <!-- info del producto -->
                    <div th:text="'Id: ' + ${product.id}"></div>
                    <div th:text="'Nombre: ' + ${product.name}"></div>
                    <div th:text="'Modelo: ' + ${product.model}"></div>
                    <div th:text="'Precio compra: ' + ${product.purchase_price}"></div>
                    <div th:text="'Precio venta: ' + ${product.sale_price}"></div>
                    <!-- product stock -->
                    <div th:text="'Disponibilidad: ' + ${product.stock}"></div>
                    <!-- product description -->
                    <p th:text="'Descripción: ' + ${product.description}"></p>

                </div>
                <div class="modal-footer justify-content-center">
                    <a th:href="@{edit}" type="button" class="btn btn-secondary col-4">si</a>
                    <button type="button" class="btn btn-primary col-4" data-bs-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== MY SCRIPT ========== -->
    <script th:src="@{/js/welcome.js}"></script>

</body>
<!--

    Jhonatan Samuel Martinez Hernandez 
    Ficha 2675859
    Análisis y Desarrollo De Software
    Aprendiz SENA
    Año 2024
-->

</html>